executions_cleaner.json
{
  "name": "executions",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b1fff009-613d-44d8-ae7b-eaec8c158ff1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "execution",
        "limit": 200,
        "filters": {
          "status": "success"
        },
        "options": {
          "activeWorkflows": false
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "5031a793-2317-47a8-9135-82c7b99ca17f",
      "name": "Get many executions",
      "credentials": {
        "n8nApi": {
          "id": "JMMD10I2ZcFvcDmA",
          "name": "12"
        }
      }
    },
    {
      "parameters": {
        "resource": "execution",
        "operation": "delete",
        "executionId": "={{ Number($json.id) }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "9cfcc6ec-3bd6-4d88-883e-2c0e7d09b877",
      "name": "Delete an execution",
      "credentials": {
        "n8nApi": {
          "id": "JMMD10I2ZcFvcDmA",
          "name": "12"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many executions": {
      "main": [
        [
          {
            "node": "Delete an execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "83332cfa-c6a4-4598-ad47-fbf3197b6510",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bdca60126bbd03d58e0e2cf0e502f8bb47bacebdad06cb6945575751043f1aac"
  },
  "id": "8dIojo-ujf4vLvPq8P3AU",
  "tags": []
}