google_drive_folder_cleaner.json
{
  "name": "DRIVE TƏMİZLİK",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3c1c95e4-d52f-4a0e-b6bd-8bca6bde75a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1pcbvRRgYTYwyJDKL92rn1O7rhmIdDdJA' in parents and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "f27da2a9-1073-49c8-bd7e-2411ae0c1584",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ORjEgreYfJw74mH",
          "name": "12e12e"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "403fa9a0-f64b-427e-9392-122c9e577578",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7ORjEgreYfJw74mH",
          "name": "12e12e"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dd2ea4a9-cb14-4d50-ba01-6210cbdc4a2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bdca60126bbd03d58e0e2cf0e502f8bb47bacebdad06cb6945575751043f1aac"
  },
  "id": "QLEtD6TyrdE608Y7CnBET",
  "tags": []
}